AI Agent workflow (4).json
{
  "name": "AI Agent workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c809ea95-d99e-4cbe-a02a-ca06303030aa",
              "name": "message",
              "value": "={{ $json.messages?.[0]?.text?.body ?? $json.content?.parts?.[0]?.text ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "b4bda75a-685e-49c5-bede-c675dccbda01",
              "name": "audio",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "16ed8e5e-d52d-4e24-afca-88e7ad6d9266",
              "name": "user_id_telefono",
              "value": "={{ $json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        176
      ],
      "id": "afcaf8a7-0f85-4eb0-8d33-df3844e0a38e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5c8bb2e9-b492-4e03-abae-cee8c8c51c66",
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f3fd1c0-82a8-44b3-9c90-31a56995c768",
                    "leftValue": "={{ $json.messages[0].audio.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VOZ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -272,
        208
      ],
      "id": "33a5cf89-9eea-440e-89aa-a6e07613cb0c",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        224
      ],
      "id": "05610ae5-723b-4391-ab21-09d0ddbbf4a2",
      "name": "WhatsApp Trigger",
      "webhookId": "e9b9a251-351b-4a64-8a9f-48df44687d62",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "2hMS3v9g3CR4oFNq",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -80,
        496
      ],
      "id": "60babf3f-9001-407f-aa3b-97030bbe9ef7",
      "name": "Download media",
      "webhookId": "23c34f58-1084-4855-b919-25db5cacc629",
      "credentials": {
        "whatsAppApi": {
          "id": "jOVfR2INJVgDE1MY",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://palaeontologically-glamorous-raven.ngrok-free.dev/api/alertas/ejm-riegos",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1136,
        -96
      ],
      "id": "a6b98425-a4f9-4de9-9002-79c0f3ed631a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        464
      ],
      "id": "2996b9d8-520b-479e-ab88-1966826b7e7a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3BBRCXacGyxgXg39",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Eres un clasificador de intención. Tu tarea es analizar el mensaje del usuario y devolver ÚNICAMENTE una de estas palabras: \"ALERTAS\", \"RIEGO\", RIEGO_MANUAL, \"CLIMA\",\"TEMPERATURA\" o \"GENERAL\". No añadas explicaciones, puntuación ni ninguna otra palabra."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        512,
        176
      ],
      "id": "a3bbc106-5c6d-43fc-a76f-fd3448813003",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "ALERTAS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "34e45f0d-c467-4b8c-850b-afa62db4e12a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ALERTAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9b1d167-5f2a-4374-81f3-68d071720c9c",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "RIEGO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RIEGO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ecd470d1-9ace-4462-b967-663f52afa2d7",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "CLIMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CLIMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d6c333b-1bd3-4558-9724-c861f5646062",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "TEMPERATURA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEMPERATURA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bef0fd35-e8ee-47e5-bb8a-916f8c7cd1f6",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "RIEGO_MANUAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        800,
        48
      ],
      "id": "0a8db101-d1c1-4c4e-a686-d87f09b8d259",
      "name": "Switch1"
    },
    {
      "parameters": {
        "url": "https://palaeontologically-glamorous-raven.ngrok-free.dev/api/historial",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1536,
        -16
      ],
      "id": "4f84f88b-d03a-49bc-9ef5-208c471a142e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Alrmas }}\n{{ $json.clima }}\n{{ $json.riego }}\n{{ $json.Temperatura }}\n{{ $json.general }}",
        "options": {
          "systemMessage": "Eres un asistente de bot amable y profesional. Tu mensaje de usuario contiene la pregunta original y, a veces, los datos de historial en una sección llamada \"DATOS DE RIEGO\".\n\n1. Si la sección \"DATOS DE RIEGO\" contiene información (array no vacío):\n\nGenera un resumen conciso y claro de los registros.\n\nMuestra cada registro de riego como un párrafo o punto de lista SEPARADO y claramente legible, usando saltos de línea dobles para que no se mezclen.\n\nMenciona la cantidad de registros y la información más reciente (Fecha, Humedad, Temperatura y Planta).\n\n2. Si \"DATOS DE RIEGO\" está vacía (o es []): Responde amablemente: \"No se encontraron registros disponibles para la consulta solicitada. ¿Te puedo ayudar con algo más?\"\n\n3. Si solo hay pregunta: Responde a la pregunta original de forma conversacional.\n\n. 4. Si el Contexto contiene datos de Clima: Analiza los datos (temperatura, humedad, etc.) y genera un resumen conciso del historial de clima solicitado. Si no hay datos, responde amablemente que la información no está disponible. ...\n\n5. Si el Contexto contiene datos de Clima (provenientes de la ruta de Temperatura): Analiza los registros. Genera un resumen conciso que se centre EXCLUSIVAMENTE en los valores de Temperatura Ambiente.  Ignora los datos de humedad y viento. ..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1968,
        208
      ],
      "id": "a349d2f6-f3a7-4437-8b65-91399eff5cda",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2064,
        528
      ],
      "id": "fff812fd-82d1-4018-9928-c4d2485c17bb",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "3BBRCXacGyxgXg39",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e1d01c5-e4ae-4990-a8c7-c0d04d44f167",
              "name": "human_text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        208
      ],
      "id": "66a22f50-992b-494f-95be-d96607c567ab",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=911948761991020",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.human_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2512,
        208
      ],
      "id": "8a2ed53b-4ce7-4e78-ab2a-35eab1ab6ea0",
      "name": "Send message1",
      "webhookId": "c6a73991-67ec-46bb-afdb-5d407d2d4f92",
      "credentials": {
        "whatsAppApi": {
          "id": "jOVfR2INJVgDE1MY",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "audioUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        112,
        464
      ],
      "id": "2da6a6ee-440b-4734-aa7f-d3e31fdfd311",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "3BBRCXacGyxgXg39",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://palaeontologically-glamorous-raven.ngrok-free.dev/api/clima",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        528
      ],
      "id": "174938ec-6043-484c-8677-9b898cd0d6ee",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c341c44f-6f4c-46a0-834d-df6fbfa6a1dc",
              "name": "Alarmas",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "7baac3c7-fb72-44da-873b-ad1169a02366",
              "name": "clima",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "531edb54-4949-47cb-87ea-d456a1f93c41",
              "name": "riego",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "94d36e39-1782-4b0a-b125-3c335c8e4374",
              "name": "general",
              "value": "",
              "type": "string"
            },
            {
              "id": "7aa6be77-255d-45e3-8c51-50fe50ab30de",
              "name": "Temperatura",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "7f3c40bf-db1b-4279-8ab6-3a7c3ee40032",
              "name": "Riego_Manual",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        176
      ],
      "id": "db204787-b11c-48b6-8146-5beec2d7b0b2",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "https://palaeontologically-glamorous-raven.ngrok-free.dev/api/clima",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dato",
              "value": "temperatura"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        496
      ],
      "id": "b13220a7-632e-4f3e-a48d-3149114d3f09",
      "name": "HTTP Request4"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bcd2b28f-2ef5-4808-af3b-1f4c2743a44a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e413843cb1a4f1cac522fa1e9f92260439c0edf8c92e3d0ca8f20a7b02f345db"
  },
  "id": "eieGeKBNh44NboUP",
  "tags": []
}